body {
  font-family: verdana;
  margin: 0;
  background: linear-gradient(45deg, #367873, black);
  color: #ffffff;
}

* {
  box-sizing: border-box;
}


/* form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 15px;

  background-color: rgba(211, 211, 211, 0.1); 

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-content: start;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-cover {
  width: 100%;
  min-height: auto;
  /* height: auto; */
  /* object-fit: cover; */
  /* margin-bottom: 10px; */
}

.posterless {
  width: 100%;
  min-height: 530px;
  background-color: gray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.hero {
  min-height: 600px;
  background-position: top center;
  /* background-size: cover; */
  display: flex;
  align-items: flex-end;
}

.hero-movie-title {
  font-size: 70px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.2); 

}

.hero-movie-overview {
  background-color: rgba(0, 0, 0, 0.2); 

}

.main-info {
  padding-bottom: 75px;
}

.footer {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.359);
}

.footer span {
  margin-left: 30px;

}

.footer img {
  margin-left: 30px;

}


/* Show Card */
.show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.show-cover {
  width: 100%;
  /* height: auto; */
  /* object-fit: cover; */
  /* margin-bottom: 10px; */
}